<li class="home-recent-item">
  <a class="home-recent-card" href="{{ document.detail_url }}">
    <div class="home-recent-card-heading">
      <time class="home-recent-date" datetime="{{ document.date_value }}">{{ document.date_label }}</time>
      {% include "components/_status_badge.html" with status=document.status_key label=document.status_label %}
    </div>
    <span class="home-recent-name">{{ document.display_filename }}</span>
    <span class="home-recent-meta">{{ document.institution }}</span>
    <span class="home-recent-meta">{{ document.file_summary }}</span>
    <span class="home-recent-action">打开原件</span>
  </a>
</li>
